.date-box{
  display: flex;
  justify-content: space-between;
  padding: 6%;
}

.date-info{
  display: flex;
  align-items: center;
}

.month-year p{
  font-size: 1.4rem;
  margin: 0;
}
.day{
  font-size: 3.3em;
  margin: 0;
}

.month-name{
  font-weight: bold;
  text-transform: uppercase;
}
.weekday-name{
  font-weight: bold;
}

.todo-list{
  font-size: 1.5em;
  padding: 2% 12%;
  list-style: none;

}
.todo-list-item{
  margin: 1em 0;
}
.done{
text-decoration: line-through;
opacity: .5;
}
.add-item{
  position: fixed;
  bottom: 0;
  padding: 1em;
  box-sizing: border-box;
  border-top: 3px solid #DDD;
  width: 100%;
  display: flex;
  border-radius: 15px;
}
.add-field{
  border:1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  
}
.add-button{
  background-color: #00fa9a;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 2em;
  margin-left: 2%;
}